* {
    box-sizing: border-box;
    text-decoration: none;
}


body {
    width: 70%;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    text-align: center;
}

form {
    margin: 15px auto;
    text-align: center;
}

input {
    margin: auto 20px;
    height: 30px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 3px;
}


button {
    height: 30px;
    border-radius: 3px;
    background-color: lightblue;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
    color:white;
}

.results {
    border-top: 2px solid gray;
}

